<h1>Login</h1>
<div>
  <div class="imgcontainer">
    <img src="../../../assets/images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="username">
    <br>
      <label><b>Password&nbsp;</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password" >

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" (click)="loginClick(event$)">login</button>
  </div>
</div>
